body {
    background-image: url("../images/bowling.png");
    background-size: cover;
    font-family: Helvetica;
  }
  
  .table {
    text-align: center;
    border: 3px solid whitesmoke;
    font-size: 2em;
    position: relative;
    left: 6em;
    margin-top: 5em;
    border-collapse: separate;
    border-spacing: 20px 20px;
  }
  
  .row-header {
    color: #B0C4DE;
    border: 2px solid #B0C4DEß;
    font-weight: medium;
    text-align: center;
  }
  
  .row-rolls {
    border: 2px solid #7575ca;
    background-color: #bfceeb;
    color: #61676e;
    font-size: 0.75em;
  }
  
  .row-frames-score {
    color: #B0C4DE;
  }
  
  .rolls {
    padding-right: 0.25em;
    padding-left: 0.25em;
  }
  
  .pins {
    text-align: center;
    margin-top: 0.5em;
    font-size: 2em;
  }
  
  .number {
    font-size: 0.5em;
    text-align: center;
    background-color: #9ca0aa;
    border: 2px solid #88889e;
  }
  
  .submit {
    display:inline-block;
 padding:0.5em 3em;
 border:0.16em solid #af5454;
 margin:0 0.3em 0.3em 0;
 box-sizing: border-box;
 text-decoration:none;
 text-transform:uppercase;
 font-family:'Roboto',sans-serif;
 font-weight:400;
 color:#b11b1b;
 text-align:center;
 transition: all 0.15s;
    }
  .reset {
    display:inline-block;
 padding:0.5em 3em;
 border:0.16em solid #af5454;
 margin:0 0.3em 0.3em 0;
 box-sizing: border-box;
 text-decoration:none;
 text-transform:uppercase;
 font-family:'Roboto',sans-serif;
 font-weight:400;
 color:#b11b1b;
 text-align:center;
 transition: all 0.15s;
  }
